@media (max-width: 760px) {
  .bottomNav button {
    padding: 14px 3px;
    gap: 5px;
  }

  .bottomNav button svg {
    width: 31px;
    height: 31px;
  }

  .bottomNav small {
    font-size: 14px;
  }

  .bottomNav {
    min-height: 92px;
  }

  .content {
    padding-bottom: 140px;
  }
}
